<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./css/custom.css">
</head>
  <body>
    <div class="container text-center">
    	<header>
    		<div class="container-fluid inner-header">
    			<div class="row row-inner-header">
	    			<div class="col-xs-4 col-inner-header">
	    			    <a href="#"><img id="uir-logo" src="./images/uir.png" alt="UIR logo"></a>
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<h1>VOTE ASSEMBLÉE GÉNÉRALE</h1>    				
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<a href="#"><img id="cfdt-logo" src="./images/logo.gif" alt="CFDT logo"></a>    			    				
	    			</div>
    			</div>
    		</div>
    	</header>
    	<section>
		    <div class="row title">
		        <h4>VOTE 
		        	<%= vote[0].nom.toUpperCase() %>
		    	</h4>
		    </div>
			<div class="fond-gris">
				<h2>Confirmation de votre choix</h2>
			    <div class="row ">
			        <div class="col-xs-6 proposition">
			        	<div class="row">
			        		<div class="col-lg-12 reponse">
				        		<h4>« 
									<%= vote[0].reponse1 %>
								 »</h4>
			        		</div>
			        	</div>
					    <div class="row">
	    			        <div class="col-xs-12">
	    			        	<input type="number" name="pour" placeholder="<%= vote[0].nbrR1 %>" class="text-center" disabled="">
	    			        </div>
						</div>
			        </div>

			        <div class="col-xs-6 proposition">
			        	<div class="row">
			        		<div class="col-lg-12 reponse">
				        		<h4>« 
									<%= vote[0].reponse2 %>
								 »</h4>
			        		</div>
			        	</div>
					    <div class="row">
	    			        <div class="col-xs-12">
	    			        	<input type="number" name="contre" placeholder="<%= vote[0].nbrR2 %>" class="text-center" disabled="">
	    			        </div>
						</div>
			        </div>					    			
				</div>
				<h2>Voulez-vous valider définitivement ?</h2>
			    <div class="row">
			     	<div class="col-sm-6">
			        	<a href="http://localhost:8080/avoter">					
			         		<button class="btn-left" type="button">
					         	<h4>« Je valide »</h4>
							</button>
						</a>
			     	</div>
					<div class="col-sm-6">
			        	<a href="http://localhost:8080/choix">					
			         		<button class="btn-right" type="button">
					         	<h4>Annuler</h4>
							</button>
						</a>
			     	</div>
			    </div>
			</div>		    		
       	</section>
    </div>

	<footer class="text-center">
		<p>DW2 Simplon Réunion | 2017</p>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>